<h1>Facilities</h1>


<div class="row">
    {{#each facility}}
    <div class="col s12 m4">
        <div class="card sticky-action">
            <div class=" card facilcard">
                <div class="card-content white-text">
                    <h3 style="font-size:20px">{{dataValues.name}}</h3>
                    <p>{{dataValues.address}}</p>
                    <span>{{dataValues.city}} {{dataValues.state}} {{dataValues.postalcode}}</span>
                    
                    <p>{{dataValues.email}}</p>
                    
                        <p>Description: {{dataValues.description}}</p>
                  

                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>